
body {
  background-color: #fff;
  color: #2B303B;
}

header {
  background: #333;
  border-color: #333;
}

nav {
  background: #333;
}

h1, h2 {
  color: #333;
}

a {
  color: #006666;
}
nav a:hover {
  background-color: #FFD700;
}
a.active {
  	color: #FFD700;
}
li :hover {
	color: #000;
}

.htitle {
	color: #333;
}