/**********************************
GENERAL
***********************************/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h3 {
	margin: 0 0 .2em 0;
}

p {
	text-align: left;
}

.contact-p {
	margin: 0 5px 5px 0;
	font-size: 1em;
}

/**********************************
HEADING
***********************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	background-color: #333;
	width: 100%;
}

h1 {
	font-family: 'Changa One', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}

.header-bg {
	padding-top: 170px;
	height: 10px;
	background: linear-gradient(#333, transparent 90%),
	linear-gradient(0deg, #333, transparent 90%),
	#ffa949 url('../pittsburgh_skyline.jpg') no-repeat center;
	background-size: cover;
}

/**********************************
NAVIGATION
***********************************/
nav {
	clear: left;
	border:1px solid #FFD700;
	border-width:1px 0;
}
ul {
	margin: 0 auto;
	display: table;
	text-align: center;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}


.current {
	background-color: #FFC500;
}

/**********************************
FOOTER
***********************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}



/**********************************
PAGE: PORTFOLIO
***********************************/

.portfolio-font {
	font-size: .75em;

}


/**********************************
PAGE: ABOUT
***********************************/

.profile-photo {
	display: block;
	max-width: 200px;
	margin: 0 auto 30px;
	border-radius: 100%;
}



/**********************************
PAGE: CONTACT
***********************************/

.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}



















